---
import Layout from "../../../../layouts/Layout.astro";
import DocsIndexContent from "../../../../components/DocsIndexContent";
import { getTranslations } from "../../../../i18n";

const lang = "en";
const t = getTranslations(lang);
const items = [
  { href: "/en/docs/interview-preparation/example/", label: t.interviewExample },
];
---

<Layout lang={lang} title={t.interviewPreparation}>
  <div class="docs-content">
    <DocsIndexContent client:load title={t.interviewPreparation} items={items} />
  </div>
</Layout>
