---
import DocsIndexContent from "../../../components/DocsIndexContent";
import { getTranslations } from "../../../i18n";
import Layout from "../../../layouts/Layout.astro";

const lang = "en";
const t = getTranslations(lang);
const items = [
  { href: "/en/docs/getting-started/", label: t.gettingStarted },
  { href: "/en/docs/interview-preparation/", label: t.interviewPreparation },
  { href: "/en/docs/programming/", label: t.programming },
  { href: "/en/docs/cybersecurity/", label: t.cybersecurity },
];
---

<Layout lang={lang} title={t.docsTitle}>
  <div class="docs-content">
    <DocsIndexContent client:load title={t.docsTitle} items={items} />
  </div>
</Layout>
